/*!
 * zoedaemon blog 
 * Copyright 2015 zoedaemon
 * Licensed under http://www.apache.org/licenses/LICENSE-2.0
 */

@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);/*&effect=font-effect-outline*/
/*@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic,400italic);*/

body{
	background: url(../images/bg.jpg) center top no-repeat;

	/*
	Hahaha Keren...
	 -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  width: 320px;
	  height: 320px;
	  border: none;
	  font: normal 100%/normal Arial, Helvetica, sans-serif;
	  color: rgba(255,255,255,1);
	  -o-text-overflow: clip;
	  text-overflow: clip;
	  background: -webkit-linear-gradient(60deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -webkit-linear-gradient(-60deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -webkit-linear-gradient(60deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -webkit-linear-gradient(-60deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -webkit-linear-gradient(30deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), -webkit-linear-gradient(30deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), rgb(170, 170, 170);
	  background: -moz-linear-gradient(30deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -moz-linear-gradient(150deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -moz-linear-gradient(30deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -moz-linear-gradient(150deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), -moz-linear-gradient(60deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), -moz-linear-gradient(60deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), rgb(170, 170, 170);
	  background: linear-gradient(30deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), linear-gradient(150deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), linear-gradient(30deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), linear-gradient(150deg, rgb(153,153,153) 12%, rgba(0,0,0,0) 12.5%, rgba(0,0,0,0) 87%, rgb(153,153,153) 87.5%, rgb(153,153,153) 0), linear-gradient(60deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), linear-gradient(60deg, rgb(187,187,187) 25%, rgba(0,0,0,0) 25.5%, rgba(0,0,0,0) 75%, rgb(187,187,187) 75%, rgb(187,187,187) 0), rgb(170, 170, 170);
	  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
	  -webkit-background-origin: padding-box;
	  background-origin: padding-box;
	  -webkit-background-clip: border-box;
	  background-clip: border-box;
	  -webkit-background-size: 80px 140px;
	  background-size: 80px 140px;
	*/	
}
 
h1 {
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	text-shadow: 2px 1px 1px #63809B;
	color : #E5E6EA;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-size: 2em;
	display: inline-block;
	border-bottom: 2px solid #a90329;
	border-top: 2px solid #a90329;
 	border-right: 2px solid #a90329;
    margin-bottom: 20px;
    background: none repeat scroll 0 0 #a90329 !important; 
    border-radius: 0px 5px 50px 0px;
	-moz-border-radius: 0px 5px 50px 0px;
	-webkit-border-radius: 0px 5px 50px 0px;
}

h1:hover{
	color:#E5E6EA;
}


h2 {
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	text-shadow: 2px 1px 1px #63809B;
	color : #238097;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-size: 1.5em;
	display: inline-block;
    margin-bottom: 20px;
}


h3 {
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	text-shadow: 2px 1px 1px #63809B;
	color : #238097;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-size: 1.55em!important;
	display: inline-block;
    margin-bottom: 20px;

}

/*Sisipi karakter khusus supaya gak bingung untuk level 2nya \0398*/
h3::before {
    /*content: '\2135  ';*/
}




span.RightColumn {
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	text-shadow: 2px 1px 1px #63809B;
	color : #a90329;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-size: 1.5em;
	display: inline-block;
    margin-bottom: 0px;
    margin-top: 20px;
}




p, code{
	/*antisipasi kata yang terlalu panjang, misalnya jqueuuuuuuuuuuuury.smartmenus.bootstrap.js */
	word-wrap: break-word;
	overflow: hidden;
	white-space: normal;/*harus normal klo gak break-word gak akan berpengaruh*/
	
}

.alert {

	margin : 10px 0px !important;

}

#main-content p{
	font-size: 1.2em;
	
	font-family:  'Helvetica Neue', Arial, sans-serif ;
	word-spacing: 8px;
	letter-spacing:0.04em;
	text-indent: 40px;
	line-height:30px;
	margin-top: 20px;
}
 

#main-content p > a{
	color:#CC3042;
	text-decoration: none;
}

#main-content p > a:hover{
	color:#a90329;
	text-decoration: none;
	text-transform: italic!important;/*TODO:FIXME:why failed*/
	text-shadow: 0.01em 0.01em 0.01em #a90329;/*#FF5064...NOTE kyk efek bold*/
}

.left-content-fixed {
	position : fixed;
	margin-left:-20px;
}

.navbar-brand {
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	text-shadow: 4px 4px 4px #aaa;
	margin-top: -15px;
}

.left-content-helper{
	margin-right: 100px!important;
} 

.right-content-helper{
	margin-left: 100px!important;
} 


.right-content:hover {
	opacity: 0.9;		
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
	color:#E5E6EA!important;
}

.right-content:hover a{
	opacity: 0.9;		
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
	color:#E5E6EA!important;
}

.right-content > ul {
	margin-left:-25px;
}

.right-content > ul  a:hover{
	color:orange;
	text-decoration: none;
	color:orange;
}

.right-content  a{
	color:#a90329!important;
}

.right-content{
	position: fixed;
	left:78%;
	top:30px;
	z-index: 100;
	width: 230px;
	opacity: 0.8;
	padding: 20px 10px;
	margin-top: 60px;
	font-size: 1.1em;

	color:#a90329;
	
	border-radius:50px 5px 50px 5px!important;

	background: rgba(73,165,191,1)!important;
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

}

ul.pagination li a{
	color: #FF8097;
	background: rgba(169,3,41,1);
	background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(56%, rgba(143,0,0,1)), color-stop(100%, rgba(109,0,25,1)));
	background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}



ul.makemeinterest li a{
	color: #FF5064;
	background: #238097;
	margin-top: 30px;
	margin-left:11%;
	margin-right:10%;

	/*ketengahkan konten*/
	text-align: center;
	vertical-align: middle;

}



ul.makemeinterest li a:hover{
	color: #FF8097;

	background: rgba(169,3,41,1);
	background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(56%, rgba(143,0,0,1)), color-stop(100%, rgba(109,0,25,1)));
	background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );

}



a.navbar-brand:hover {
	color:#99f097 !important;
	text-shadow: 4px 4px 4px :#99f090;

}

.nav:active {		
}

.navbar:hover {
	opacity: 1.0;		
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
}


.navbar {

	/*transform: perspective(10px) rotateX(1deg);
	border-radius: 25px!important;
	*/
	border-radius:50px 5px 50px 5px!important;
	
	font-family:'Goudy Bookletter 1911',Georgia,serif;
	opacity: 0.5;
	letter-spacing: 1px;
	font-size: 18px;

	position:relative;
	margin:0 auto;
	max-width:780px;
	padding-top: 10px;
	border:0px;


	background: rgba(73,165,191,1);
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

}


ul.navbar-nav li a {
	color:#99f097 !important;/*b3dced', endColorstr='#29b8e5',*/
	background:transparent !important;
	letter-spacing: 1px;
	font-size: 18px;
}

/*Jgn lupa "ul.dropdown-menu" di warnain jg coz menghilangkan garis putihnya*/
ul.dropdown-menu, ul.dropdown-menu li a {
	color:#99f097 !important;/*b3dced', endColorstr='#29b8e5',*/
	background: rgba(73,165,191,1)!important;
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

}

/*Ketika Hover*/
ul.dropdown-menu li a:hover {
	color:#FFC4DB !important;/*b3dced', endColorstr='#29b8e5',*/
}


ul.dropdown-menu li.dropdown-header  {
	font-size: 1.3em;
	color:#231097;
	background: rgba(73,165,191,1)!important;
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );
}

ul.navbar-nav li a:hover {
}



.title-bar {
	/*ketengahkan konten*/
	text-align: center;
	vertical-align: middle;
	margin-top: -63px;
	margin-bottom: 0px;
}

.title-bar:hover {
	color: #E5E6EA;
	/*color: rgba(73,165,191,1);
	color: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	color: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	color: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	color: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	color: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	color: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	*/
}


.search-bar {
	/*ketengahkan konten*/
	text-align: center;
	vertical-align: middle;
	
	margin-top:80px;
	padding: 0px 0px;
	margin-left:11%;
	margin-right:10%;
	
	/*style sederhana :)*/
	border-radius: 0px 0px 40px 40px;
	-moz-border-radius: 0px 0px 40px 40px;
	-webkit-border-radius: 0px 0px 40px 40px;

	border-bottom: 50px solid #a90329;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent; 

}



.search-bar-style {
		margin-top:-20px;

/*
	-webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);

	border-bottom: 3px solid #6d0019; 
   
	padding: 20px 0px;
	margin-top:-20px;
	margin-right:10%;
	margin-left:10%;

	
	background: rgba(73,165,191,1)!important;
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );
*/
}



select {

	background: rgba(73,165,191,1);
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1); 

    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
	
	color:#a90329;
    

	font-family:'Goudy Bookletter 1911',Helvetica,Arial, Serif;
	font-size: 1.3em;

    padding: 5px;
    margin: 15px 30px 10px -19px;
	opacity: 0.5;

	/*berguna untuk ukuran dinamis input text*/
    box-sizing:border-box;
    -moz-box-sizing:border-box;

    border: 3px solid #238097; 
	height:43px;	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	
	z-index: -1;
	
}

select.focus, select:hover{
	border: 3px solid #FF8097;
	
	color:#a90329;
	
	-webkit-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	padding: 5px;
	background: #CC8087;
	opacity: 0.9;
}

input[type=text], input[type=password] {

	background: rgba(73,165,191,1);
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1); 

    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
	
	color:#a90329;
    

	font-family:'Goudy Bookletter 1911',Helvetica,Arial, Serif;
	font-size: 1.3em;

    padding: 5px;
    margin: 15px 0 10px 0px;
	opacity: 0.5;

	/*berguna untuk ukuran dinamis input text*/
	width:75%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;

    border: 3px solid #238097; 
	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	
	z-index: -1;
	
}

/*event ketika selected input text*/
input[type=text].focus, input[type=text]:hover, input[type=password].focus, input[type=password]:hover{
	border: 3px solid #FF8097;
	
	color:#a90329;
	
	-webkit-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	padding: 5px;
	background: #CC8087;
	opacity: 0.9;
	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;

}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  

	background: rgba(169,3,41,1);
	background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(56%, rgba(143,0,0,1)), color-stop(100%, rgba(109,0,25,1)));
	background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,0,0,1) 56%, rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );

}


.container .text-muted {
  	margin: 20px 0;
	color:#FF8097;
}


.container-fluid {
	border-top: solid #a90329;
	margin-top: 0px!important;
}



.sms-container {
    padding: 2px 16px;
    color: rgba(73,165,191,1);
}

.crud-container {
    padding: 30px 16px;
    background: url(../images/background-noise.png) repeat;
    border: solid rgba(73,165,191,1);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}


marquee{
  position:relative;
  -webkit-animation:left-marquee 20s linear infinite 2s normal;
  -moz-animation:left-marquee 20s linear infinite 2s normal;
  animation:left-marquee 20s linear infinite 2s normal;
}

@-webkit-keyframes left-marquee{
  from{bacgkround-position:0 0;}
  to{background-position:-4000px 0;}
  
}

@-moz-keyframes left-marquee{
  from{bacgkround-position:0 0;}
  to{background-position:-4000px 0;}
  
}

@keyframes left-marquee{
  from{bacgkround-position:0 0;}
  to{background-position:-4000px 0;}
  
}

.title-separator{
    padding: 2px 16px;
}

.sms-card { 
    /* Add shadows to create the "card" effect */ 
    background: none repeat scroll 0 0 #a90329 !important; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    border-bottom: none !important; 
   
    transition: 0.3s; 
    
    padding: 10px; 
    margin: 10px ; 
    width: 220px!important; /*Harus importan coz nanti dioverwrite sama si bootstrap*/
    height: 360px;  /*TODO: ubah ini jd auto tp perlu masonry.js tuk merapikannya*/

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;

} 

/* On mouse-over, add a deeper shadow */ 
.sms-card:hover { 
	background: none repeat scroll 0 0 rgba(73,165,191,1) !important; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    color:#a90329!important;
} 

.sms-card:hover .pesan { 
    color:#a90329!important;
} 

.sms-card  .pesan { 
	color:#E5E6EA;
	font-size: 1.0em!important;		
	margin: -5px 5px;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x:hidden;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: normal;/*harus normal klo gak break-word gak akan berpengaruh*/
	height: 130px;
} 


.sms-card  .divtags { 
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x:hidden;
	white-space: normal;/*harus normal klo gak break-word gak akan berpengaruh*/
	height: 40px;

	padding-top: -10px;
	margin-top: -1px;
} 


/*TODO: gak bisa ubah warna tags saat di hover*/
.sms-card:hover > .tags{
	   color:red;
} 

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button-card{
	margin-top: 30px!important;
}



.sms-card-popup { 
    /* Add shadows to create the "card" effect */ 
    background: none repeat scroll 0 0 #a90329 !important; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    border-bottom: none !important; 

    transition: 0.3s;
    
    padding: 10px;
    margin: 10px auto;
    width: 300px; 
    height: 650px;  /*TODO: ubah ini jd auto tp perlu masonry.js tuk merapikannya*/

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
} 

.modal-title {
	color: rgba(73,165,191,1)!important;/*Overwrite color kelas ini dari defaultnya bootstrap*/
}

.detail-timestamp {
	color:rgba(73,165,191,1);
	margin-bottom: -50px;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

label {
	color:rgba(73,165,191,1);	
}

/*TODO: spacingnya gagal*/
form-group{
	margin-bottom: -90px;
}

.row-fluid:first-child {
	margin-top: 20px;
}
 
/* sidebar */
.bs-docs-sidebar {
    padding-left: 25px;
    margin-top: 255px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #238097;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #a90329;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #a90329; 
	text-shadow: 2px 2px 2px #bce0ee;

}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}


::-webkit-input-placeholder {
	color: #505050;
	text-align: center;
	vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
	color: #505050;  
	text-align: center;
	vertical-align: middle;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #505050;  
	text-align: center;
	vertical-align: middle;
}

:-ms-input-placeholder {  
	color: #505050;  
	text-align: center;
	vertical-align: middle;
}



/*Ini khusus level 2nya*/
/* all links */
.bs-docs-sidebar .nav>li>ul>li>a {
    color: #238097;
    border-left: 2px solid transparent;
    padding: 4px 0px 4px 0px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>ul>li>a {
    padding: 4px 0px 4px 0px;
    font-size: 12px;
}


/* active & hover links */
.bs-docs-sidebar .nav>li>ul>.active>a, 
.bs-docs-sidebar .nav>li>ul>li>a:hover, 
.bs-docs-sidebar .nav>li>ul>li>a:focus {
    color: #a90329;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #a90329; 
	text-shadow: 2px 2px 2px #bce0ee;
    
}
/* all active links */
.bs-docs-sidebar .nav>li>ul>.active>a, 
.bs-docs-sidebar .nav>li>ul>.active:hover>a,
.bs-docs-sidebar .nav>li>ul>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>li>ul>.active>a, 
.bs-docs-sidebar .nav .nav>li>ul>.active:hover>a,
.bs-docs-sidebar .nav .nav>li>ul>.active:focus>a {
    font-weight: 500;
}



/* hide inactive nested list */
.bs-docs-sidebar .nav li>ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>li>ul.nav {
    display: block;           
}


/*
*** Test custom infowindow
***
*/
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: rgba(73,165,191,1);
	background: -moz-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(9%, rgba(73,165,191,1)), color-stop(27%, rgba(73,165,191,1)), color-stop(51%, rgba(117,189,209,1)), color-stop(63%, rgba(96,168,188,1)), color-stop(100%, rgba(31,104,122,1)));
	background: -webkit-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -o-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	background: linear-gradient(to right, rgba(73,165,191,1) 9%, rgba(73,165,191,1) 27%, rgba(117,189,209,1) 51%, rgba(96,168,188,1) 63%, rgba(31,104,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#1f687a', GradientType=1 );

}